:root {
  --background-hover: #e8ecf466;
  --background: #f3f5fa;
  --color-title: #1a73e8;
  --color-error: #a50e0e;
  --color-positive: #137333;
  --color-border: #cbcaca;
  --color-th: #f2f2f2;
  --background-th: #0a57d0ad;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--background);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
a {
  color: inherit;
  text-decoration: none;
}
ul {
  list-style-type: none;
}
